body{
    background-color: #f5f8ff;
}

/***shared styles***/
.display-flex{
    display: flex;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/****text color*****/
.text-gray{
    color: #000000;
    opacity: 50%;
}

.text-light-gray{
    color: #8987A1;
}

.text-black{
    color: #000000;
}

.text-orange{
    color: #E95A08;
}

/*****nav bar*****/ 
.navbar{
    justify-content: space-between;
}
nav > img{
    width: auto;
}
.nav-item{
    list-style: none;
    margin-right: 48px;
}
.nav-cart-item{
    list-style: none;
}
.cart{
    list-style: none;
}
.nav-links{
    align-items: center;
}
.nav-link{
    text-decoration: none;
}

/********banner*****/
.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}
.banner{
    justify-content: space-between;
    height: 100%;
    align-items: end;
    margin-top: 120px;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
}

.banner-img{
    width: 100%;   
}

/*******our plants sections********/
.our-plants{
    margin-top: 120px;
    max-width: 1140px;
    margin: 0 auto;
}
.card-head{
    font-weight: bold;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
.card-about{
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    margin-bottom: 49px;
}
.flower-card{
    height: 485px;
    width: 270px;
}
.card{
    max-width: 1140px;
    margin:0 auto ;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    row-gap: 30px;
}

.card-name{
    list-style: none;
    align-items: center;
    flex-direction: column;
}

.lily{
    margin-right: 32px;
    font-size: 22px;
    font-weight:500;
}

.price{
    margin-right: 32px;
    font-size: 22px;
    font-weight: bold;
}

.add-to-cart{
    background-color: #E95A08;
    width: 270px;
    height: 50px;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 24px;
}
/**********list section*****/
.certified-section{
    max-width: 1140px;
    margin:0 auto ;
    margin-top: 210px;
}
.certified-imgs{
    position: relative;
}
.trusted-badge{
    position: absolute;
    height: 286px;
    width: 286px;
    margin-left: -180px;
    margin-top: -110px;
}
.flower-store{
    height: 595px;
    width: 540px;
}
.div-fpl{
    margin-left: 80px;
}
.FPL{
    font-size: 50px;
    font-weight: 700;
}
.list{
    font-size: 22px;
    font-weight: 400;
}

.hide{
    display: none;
}

/************latest deals section********/
    .section {
      text-align: center;
      padding: 60px 20px;
    }

    .section h2 {
      font-size: 2em;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .section h2 span {
      font-weight: 700;
    }

    .section p {
      font-size: 0.95em;
      max-width: 600px;
      margin: 0 auto 40px;
      line-height: none;
    }

    .grid-container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
      max-width: 1140px;
      margin: 0 auto;
    }

    .deal-card {
      position: relative;
      background-size: cover;
      background-position: center;
      color: #ffffff;
      border-radius: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 206px;
    }

    .deal-content {
      background-color: rgba(0,0,0,0.5);
      height: 206px;
      width: 373px;
      border-radius: 22px;
      text-align: center;
    }

    .deal-content h3 {
      margin: 0;
      font-size: 1.2em;
      font-weight: bold;
      margin-top: 65px;
    }

    .deal-content-large{
        background-color: rgba(0,0,0,0.5);
      height: 432px;
      width: 750px;
      border-radius: 22px;
      text-align: center;
    }

    .deal-content-large a{
      display: inline-block;
      margin-top: 8px;
      color: #ffffff;
      text-decoration: underline;
      font-weight: bold;  
    }

    .deal-content-large h3{
        margin: 0;
        font-size: 1.8em;
        font-weight: bold;
        margin-top: 170px;
    }

    .deal-content a {
      display: inline-block;
      margin-top: 8px;
      color: white;
      text-decoration: underline;
      font-weight: bold;
    }

    .large-card {
      grid-row: span 2;
      height: 432px;
    }
/***************newsletter section**********/
.newsletter {
      background-image: url('../assets/news-letter-bg.png');
      background-size: cover;
      background-position: center;
      text-align: center;
      padding: 180px 20px;
      color: #ffffff;
    }

    .newsletter h2 {
      font-size: 2.5em;
      margin-bottom: 23px;
      font-weight: bold;
      
    }

    .newsletter form {
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      background-color: #ffffff;
      border-radius: 0px;
      overflow: hidden;
    }

    .newsletter input[type="email"] {
      flex: 1;
      padding: 15px;
      border: none;
      font-size: 1em;
      outline: none;
    }

    .newsletter button {
      padding: 15px 25px;
      background-color: #E95A08;
      color: #ffffff;
      border: none;
      cursor: pointer;
      font-weight: bold;
    }

/**********footer section************/
 .footer {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      gap: 110px;
      padding: 50px 160px;
      background-color: #ffffff;
      font-size: 0.9em;
      font-weight: 400;
    }

    .footer br{
        display: none;
    }

    .footer .logo {
      display: flex;
      flex-direction: column;
      
    }

    .footer .logo img {
      width: 120px;
    }

    .footer .links {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 110px;
      font-size: small;
    }

    .footer .links p {
      margin-bottom: 26px;
    }

    .footer .social {
      display: flex;
      justify-content: flex-end;
      align-items: start;
      gap: 24px;
    }

    .footer .social img {
      width: 36px;
      height: 36px;
      cursor: pointer;
    }



/*************media query*****************/

@media screen and (max-width: 576px){
    .navbar{
       max-width: 361px;
       margin: 0 auto; 
    }
    .nav-item{
        display: none;
    }

    /*****banner****/
    .banner{
        flex-direction: column-reverse;
        margin-top: 28px;
        margin-left: none;
        margin-right: none;
        
    }
    .banner-title{
        font-size: 24px;
    }

    /*****our plants*******/
    .our-plants{
    margin-top: 65px;  
    }

    .card-head{
    font-weight: bold;
    font-size: 24px;
    }

    .card-about{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 49px;
    height: 68px;
    width: 336px;
    margin-right: 28px;
    margin-left: 28px;
    }
    /******cards********/
    .flower-card{
    height: 340px;
    width: 171px;
    }

    .lily{
    margin-right: 32px;
    font-size: 16px;
    font-weight: 500;
    }

    .price{
    margin-right: 32px;
    font-size: 16px;
    font-weight: bold;
    }

    .add-to-cart{
    background-color: #E95A08;
    width: 171px;
    height: 50px;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
    }

    .card-image{
        height: 196px;
        width: 171px;
    }
    .card{
    max-width: 361px;
    margin:0 auto ;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    row-gap: 28px;
    }
/********certified section***********/
    .certified-imgs{
        justify-content: center;
        align-items: center;
        margin-left: 26px;

    }
    .trusted-badge{
        display: none;
    }
    .flower-store{
    height: 396px;
    width: 358px;
    }
    .certified-section{
        flex-direction: column;
        margin-top: 42px;
        margin-left: none;
    }

    .div-fpl{
    margin-left: 0px;
    margin-right: 23px;
    text-align: left;
    }
    .div-fpl br{
        display: none;
    }
    .FPL{
    font-size: 24px;
    font-weight: 700;
    margin-left: 25px;
    }
    .list{
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    }

/**********latest deals section***********/
.grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        max-width: 361px;
        margin: 0 auto;
      }

      .deal-card {
        height: 201px;
      }

    .deal-content {
      height: 201px;
      width: 361px;
    }

    .deal-content-large{
        height: 201px;
        width: 361px;
    }
      .deal-content-large h3{
        margin-top: 70px;
        font-size: 1.2em;
      }
      .large-card {
        grid-row: auto;
        height: 201px;
      }
/************newsletter section*********/

      .newsletter {
        padding: 60px 15px;
      }

      .newsletter h2 {
        font-size: 1.2em;
        margin-bottom: 20px;
      }

      .newsletter form{
        height: 50px;
        width: 321px;
      }

      .newsletter input[type="email"],
      .newsletter button {
        padding: 10px;
    
      }
     
/***********footer section********/

      
      .footer {
        grid-template-columns: auto;
        padding: 50px 20px;
        gap: 0px;
      }

      .footer .links {
      grid-template-columns: 1fr;
      gap: 0px;
    }
    .footer .social {
        justify-content: flex-start;
        margin-top: 20px;
}